/* CSS selectors */

/* Element selector */
html {
  font-size: 16px;
  margin: 0;
}

/* #ID selector */
#random-text {
  color: teal;
}

/* .class selector */
.main-page {
  background-color: yellow;
}

/* element,element Selector
element  AND element 
*/
span,
div {
  background-color: turquoise;
}

/* element element Selector
element inside element 
*/
div p {
  color: firebrick;
}

/* element>element	 Selector  
element parent element */
div > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: orange
}

/* element+element  Selector
element immediately after element */
div + span {
    color: orchid;
}

/* element1~element2 Selector 
element preceded element */
span~p{
    color: peachpuff;
}

/* [attribute] Selector */
[name] {
    background-color: lightcyan;
}

/* [attribute=value] Selector  */
[type="submit"] {
    background-color: tomato;
}

/* [attribute~=value] Selector
containing the value */
[alt~="sun"] {
    width: 100px;
}

/* [attribute^=value] Selector
begins with the value */
[alt^="tree"] {
    border: 5px #ccc solid;
    border-radius: 20%;     /* !important */
    /* avoid the !important exception / bad practice */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity */
}

/* [attribute$=value] Selector
value ends with  */
[alt$="bigTree"] {
    padding: 5px;
}

/* [attribute*=value] Selector
contains the substring */
[class*="text"] {
    font-size: 1rem;
    width: 200px;
    height: 200px;
}

/* pseudo class  */
/* :hover */
[class*="text"]:hover{
    background-color: olive;
}

/* :visited */
a:visited {
    color: pink;
}

/* :focus */
input:focus{
    outline: none;
    border: 2px pink solid;
    box-shadow: 3px 3px 3px #ccc;
}

/* */
input[name="firstName"] + span {
    color: red;
}

/* :active */
a:active {
    background-color: green;
    border-radius: 30%;
}

/* :checked */
input:checked {
    width: 20px;
    background-color: sandybrown;
}

/* ::after  
:after css2 and ::after is css3*/
div[class="text-main"]::after {
    content: " Hadi";
}
/* for works with IE, for instance
div[class="text-main"]:after {  
    content: "Hadi";
}
*/

/* :before */
div[class="text-main"]::before {
    content: "Hello ";
}

/* :target */
:target {
    border: 3px black dashed;
}

/* :nth-child() */
/*tr:nth-child(2n) {
    background-color: darkgreen;
}
tr:nth-child(2n + 1) {
    background-color: black;
    color: white;
}
tr:nth-last-child(2) {
    background-color: saddlebrown
}
td {
    border: 2px black solid;
    border-radius: 20%;
}*/

/*
tr:nth-child() [id="14"] {
    background-color:wheat;
}
*/

td {
    font-size: 10px;
    text-align: center;
    border: 1px black solid;
    border-radius: 10%;
}

tr:nth-child(1) :first-child {
    background-color: yellow;
}

td:nth-child(1) {
    background-color: lightskyblue;
}

td:nth-child(2) {
    background-color: lightpink ;
}