* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --box-width: 3rem;
  --box-color: green;
}
body {
  display: flex;
  /* flex-direction: column; */
}
.box {
  width: var(--box-width);
  height: 2rem;
  font-size: 2.5em;
  color: var(--box-color);
  position: relative;
  animation-name: move-down;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-play-state: running;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes move-down {
  from {
    top: 0;
    color: lawngreen;
    background-color: orange;
  }
  to {
    top: 150px;
    color: midnightblue;
    background-color: red;
  }
}

.size-change {
  width: var(--box-width);
  height: 2em;
  border: 3px solid black;
  position: relative;
  animation-name: re-size;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes re-size {
  0% {
    width: calc(var(--box-width) * 1.5);
    background-color: lawngreen;
  }
  25% {
    width: calc(var(--box-width) * 2);
    background-color: lawngreen;
  }
  50% {
    width: calc(var(--box-width) * 2.5);
    background-color: greenyellow;
  }
  75% {
    width: calc(var(--box-width) * 3);
    background-color: goldenrod;
  }
  100% {
    width: calc(var(--box-width) * 3.5);
    background-color: green;
  }
}

.box-up {
  width: var(--box-width);
  font-size: var(--box-width);
  position: relative;
  animation-name: up;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes up {
  from {
    top: 300px;
  }
  to {
    top: 0;
  }
}

.x-menu {
  background-color: lightgray;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: -1;
}
.line {
  width: 3rem;
  height: 0.4rem;
  background-color: grey;
  border-radius: 20%;
}
/*
.line.one {
}
.lone.sec {
}
*/