body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.text {
    background-color: lightgray;
    display: grid;
    border-radius: 2%;
}
label{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}