// class 16.04.2020
@mixin flex-forever {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99%; // added to fit with my webpage 20200416.html
  }
// mixin with arguments
@mixin font-setup($f-name, $f-size, $f-weight) {
  font-family: $f-name;
  font-size: $f-size;
  font-weight: $f-weight;
}
.container-16042020 {
  @include flex-forever;
  background-color: pink;
  @include font-setup(arial, 3rem, bold);
}
.text-center-16042020 {
  @include flex-forever;
  @include font-setup(arial, 9rem, normal);
}

// class 20.04.2020
// 20200420.html
@mixin image {
  border: 1px solid black;
  border-radius:        5px;
  margin:               5px;
}
.image-20200420 {
  @include image()
}