// class 15.04.2020
  // $my-color: rgba(41, 61, 82, 0.541);
  // $colors: (
  //   nice: red,
  //   cool: black,
  //   fun: #3333,
  // );
  $box-size-15042020: 30px;
  $box-color-15042020: pink;
  
  $my-color-1:                            violet;
  $button-nav-size-width:                     90px;
  
  $colors: (
    1: red,
    2: black,
    3: yellow,
    4: blue,
    5: green,
    6: violet,
    7: orange,
    8: purple
  );
  
  $times:                                       1;
  $solution-background:              $times * 75%;
  $solution-color-background-width: $times * 60px;
  $solution-color-background-padding:        50px;
  
  // class 16.04.2020
  $my-color-16042020: red;