
/* e.g.: box-sizing: ctrl + space > you can see the options of element    */

* {
  margin:                                       0;
  padding:                                      0;
  box-sizing:                          border-box;
/*font-size:                                 16px;*/
}

:root {
  font-size:                                 16px;
  --color-font:                            pink;
  --padding-main-text:                    2px 2px;
}

/* font-family */
@font-face {
  font-family:                           "Roboto";
  src:           url(../fonts/Roboto-Regular.ttf);
}

h1 {
/*font-family:               "Roboto", sans-serif;*/
  font-size:                                 1rem;
  color:                        var(--color-font);
  padding:               var(--padding-main-text);
  direction:                                  rtl;
  writing-mode:                       vertical-lr;
  text-orientation:                       upright;
  text-shadow:               2px 2px 2px orange,
                               3px 3px 5px pink,
                                   4px 2px gray;
}

div {
  font-size:                                 20px;
}

/* font-size */
.a {
/*font:          italic 2rem "Roboto", sans-serif;*/
  font-size:                                  1em;
  font-style:                       oblique 10deg;
  font-weight:                               bold;
  line-height:                                2em;
  text-align:                             justify;
  text-transform:                       uppercase;
/*word-break:                            keep-all;*/
  text-indent:                               3rem;
  word-spacing:                              4rem;
}

.b {
  font-feature-settings:                   normal;
  font-kerning:                              none;
  font-language-override:                  normal;
  font-optical-sizing:                       auto;
  font-size:                              x-small;
  font-size-adjust:                          none;
  font-stretch:                             wider;
  font-style:                              italic;
  font-synthesis:                          weight;
}