// your scss files should import here 💪🏻
body {
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button{
  margin: 5px;
}
