body {
  background-color: lightblue;  
  display: flex;
  justify-content: center;
  align-items: center;
}
li:nth-child(odd) {
  background-color: lightcyan;
}
li:nth-child(even) {
  background-color: lightskyblue;
}
.header {
  text-align: center;
}
.form{
  margin: 10px;
}
li {
  list-style: none;
  display: flex;
}
.item{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 5px;
}