.winsandlosses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  font-family: "Blackjack", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1em;
  #wins,
  #losses {
    font-size: 1rem;
  }
  #losses {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
