@import "site";
@import "header";
@import "button";
@import "table";
@import "card";
@import "chips";
@import "magic";
@import "result";
@import "winsandlosses";
@import "mobile";

@font-face {
  font-family: "Blackjack";
  src: url(../fonts/BLACKJAC.TTF);
}

@font-face {
  font-family: "Cards";
  src: url(../fonts/CARDC___.TTF);
}
