* {
  margin:                                      0;
  padding:                                     0;
  box-sizing:                         border-box;
}
.navbar {
  background-color:      rgba(96, 96, 96, 0.7);
  display:                                  flex;
  justify-content:                    flex-start;
  flex-flow:                                 row;
  font-family:                Tahoma, sans-serif;
}
/* style items */
.list-item {
  list-style:                               none;
  font-size:                              1.5rem;
  color:                                 white;
  background-color: rgba(173, 216, 230, 0.916);
  padding:                                  1rem;
}
a {
  text-decoration:                          none;
  color:                                 white;
}
/* style Btn */
.subnavbtn {
  font-size:                             1.75rem;
  color:                            whitesmoke;
  background-color:                      inherit;
  font-family:                           inherit;
  padding:                               0.75rem;
  border:                                   none;
  /* outline: none; */
}
/* style dropdown container */
.subnav-content {
  display:                                  none;
  position:                             absolute;
  left:                                        0;
  width:                                    100%;
}
/* dropdown hover */
.subnav:hover .subnav-content {
  display:                                 block;
  transition:                   all 0.4s ease-in;
}
.subnav:hover {
  cursor:                                   help;
}
.list-item:hover {
  background-color:                 whitesmoke;
  color:             rgba(79, 162, 190, 0.916);
  transition:                   all 0.4s ease-in;
}
a:hover {
  background-color:                 whitesmoke;
  color:             rgba(79, 162, 190, 0.916);
  transition:                   all 0.4s ease-in;
}